.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-title span:last-child {
    margin-left: auto;
  }

  .inc{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(252, 83, 98);
    color: white;
    font-weight:bolder;

  }
  .dec{
    background-color: rgb(252, 83, 98);
      width: 40px;
      height: 40px;
      border-radius: 15px;
      color: white;
      font-weight:bolder;

  }
  .cartbu{
    text-align: end;
  }
  .increa{
    position: relative;
    left: -35px;
  }
  .cartel{
    position: relative;
    right: -78px;
  
  }
  .cartbut{
    background-color: rgb(129, 209, 240);
    width: 60px;
      height: 50px;
    border-radius: 15px;
  }