.vegimg1{
    
position: absolute;
width: 795px;
height: 1024px;
left: 0px;
top: 0px;
}

.heading{
    
position: absolute;
width: 242px;
height: 77px;
left: 986px;
top: 166px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;

}

.input1{

position: absolute;
width: 461px;
height: 92px;
left: 876px;
top: 380px;

background: #E2E2E2;
border-radius: 28px;
}

.input2{
    position: absolute;
width: 461px;
height: 92px;
left: 876px;
top: 508px;

background: #DEDEDE;
border-radius: 28px;
}

.signup{
    position: absolute;
width: 201px;
height: 74px;
left: 980px;
top: 690px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

background: #94E033;
border-radius: 34px;
}

.Leftside{
    position: absolute;
width: 461px;
height: 598px;
left: 290px;
top: -40px;

}